 <div class="container">
  <section class="background-radial-gradient overflow-hidden">
  <style>
    .background-radial-gradient {
      background-color: rgba(15, 23, 43, .9);
    }
  
    #radius-shape-1 {
      height: 220px;
      width: 220px;
      top: -60px;
      left: -130px;
      background-color: rgba(15, 23, 43, .9);
      overflow: hidden;
    }
  
    #radius-shape-2 {
      border-radius: 38% 62% 63% 37% / 70% 33% 67% 30%;
      bottom: -60px;
      right: -110px;
      width: 300px;
      height: 300px;
      background: radial-gradient(#44006b, #ad1fff);
      overflow: hidden;
    }
  
    .bg-glass {
      background-color: hsla(0, 0%, 100%, 0.9) !important;
      backdrop-filter: saturate(200%) blur(25px);
    }
  </style>
  
  <div class="container px-4 py-5 px-md-5 text-center text-lg-start my-5">
    <div class="row gx-lg-5 align-items-center mb-5">
      <div class="col-lg-6 mb-5 mb-lg-0" style="z-index: 10">
        <h1 class="my-5 display-5 fw-bold ls-tight" style="color: hsl(218, 81%, 95%)">
           Restaurant Management <br />
          <span style="color: hsl(218, 81%, 75%)">System</span>
        </h1>
        <legend style="color: aliceblue;" class="">Please signin to continue!!</legend>
        <p class="mb-4 opacity-70" style="color: hsl(218, 81%, 85%)">
          
        </p>
      </div>
  
      <div class="col-lg-6 mb-5 mb-lg-0 position-relative">
        <div id="radius-shape-1" class="position-absolute rounded-circle shadow-5-strong"></div>
        <div id="radius-shape-2" class="position-absolute shadow-5-strong"></div>
  

 
        <div class="card bg-glass">
          <div class="card-body px-4 py-5 px-md-5">

            
            <form>
  
         

              <div class="form-group">
  <label class="control-label" for="email">E-mail</label>
            <div class="controls">            
  <div class="form-outline mb-4">
    <input type="email" id="email" name="email" placeholder="Enter your email" class="form-control" #email>
              
    
  </div>
  </div>


  <div class="form-group">
 <label class="control-label" for="password">Password</label>
            <div class="controls">
  <div class="form-outline mb-4">
     <input type="password" id="password" name="password" placeholder="Set Password" class="form-control" #password>
              
  </div> 
</div>

               <button type="submit" class="btn btn-primary" (click)="signin(email.value, password.value)">Signin</button>
         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
               <button (click)=" signUp()" class="btn btn-primary">Signup</button>
  
            
          </div>
</div>
  

 




  
  

  <!-- <div class="container" style="color: white;background-color: rgba(15, 23, 43, .9); margin: auto; padding: 100px;">
       <h2 style="text-align: center;">User Signin</h2>
    
        <fieldset style="margin-left: 400px;">
          <div id="legend">
            <legend class="">Please signin to continue!!</legend>
          </div>
         
    
          <div class="control-group">
            <label class="control-label" for="email">E-mail</label>
            <div class="controls">
              <input type="email" id="email" name="email" placeholder="Enter your email" class="input-xlarge" #email>
              
            </div>
          </div>
       
          <div class="control-group"> 
           
            <label class="control-label" for="password">Password</label>
            <div class="controls">
              <input type="password" id="password" name="password" placeholder="Set Password" class="input-xlarge" #password>
             
            </div>
          </div>


          <br>
     
        <div class="control-group">
          Button
          <div class="controls">
            <button type="submit" class="btn btn-primary" (click)="signin(email.value, password.value)">Signin</button>
          </div>
        </div>
      </fieldset>
    
   </div> -->