<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="app.component.css">

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

  <style>
    .containers1{
  display: inline-block;
}

.texts1{
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  animation: 
          typing1 4s steps(20),
          cursor1 .4s step-end infinite alternate;
}

@keyframes cursor1{
  50% { border-color: transparent}
}

@keyframes typing1{
  from{ width: 0;}
}



  </style>
</head>
<body>



  <nav class="navbar navbar-expand-lg navbar-light" style="background-color:rgb(189, 219, 220);">
    <div class="navbar-brand">
      <img src="assets/symbol.jpg" width="40" height="40" class="d-inline-block align-top" alt="">
      Restaurant
    </div>
  
    <div class="collapse navbar-collapse " id="navbarSupportedContent" style="background-color: rgb(189, 219, 220);">
      <ul class="navbar-nav mr-auto" style="background-color: rgb(189, 219, 220);">
        <li class="nav-item active"  style="background-color: rgb(189, 219, 220);">
          <a  href="assets/home.html" class="nav-link" style=" color: black;">Home</a>
        </li>
        <li class="nav-item">
          <a href="assets/about.html" class="nav-link" style=" color: black;">About</a>
        </li>

        <li class="nav-item ">
          <a href="assets/contact.html" class="nav-link" style=" color: black;">Contact</a>
        </li>

        <li>
          <a *ngIf="!loginService.isUserLoggedIn()" routerLink="/login" class="nav-link" style=" color: black;">Login</a>
      </li>

        <li class="nav-item dropdown">
          <a *ngIf="loginService.isUserLoggedIn()" class="nav-link dropdown-toggle" href="active" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Restaurant-Menu</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item hoverlink" routerLink="/create-restaurant"><b>Add Restaurant   </b><i class="fa fa-plus-square"></i></a></li>
            <li><a class="dropdown-item" routerLink="/restaurants"><b>Restaurant List</b></a></li>
            <!-- <li><a class="dropdown-item" href="SearchLocationComponent"><b>Search By Location</b></a></li>-->
          </ul>
          </li>

  
          <li>
            <a *ngIf="loginService.isUserLoggedIn()" routerLink="/logout" class="nav-link">LogOut</a>
            
            <!--<a *ngIf="loginService.isUserLoggedIn()" routerLink="/logout" class="nav-link">LogOut</a>-->
        </li>
        
       
      </ul>

    
    
    </div>
  </nav>

<br><br>
<h1 class="text-center containers1 texts1" style="color:white"> {{title}} </h1>


<div class = "container">
  <!--<button href="home" class="button previous" style="margin-left: 0%;">Back</button>-->

  <router-outlet></router-outlet>
</div>


<script>
  // JavaScript code for the dropdown functionality
  const dropdownButton = document.querySelector(".dropbtn");
  const dropdownContent = document.querySelector(".dropdown-content");

  dropdownButton.addEventListener("click", function () {
    dropdownContent.classList.toggle("show");
  });

  window.addEventListener("click", function (event) {
    if (!event.target.matches(".dropbtn")) {
      if (dropdownContent.classList.contains("show")) {
        dropdownContent.classList.remove("show");
      }
    }
  });
</script>





</body>
</html>